<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Healthy Website Template | Home :: W3layouts</title>
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/x-icon" href="images/pageicon.png" />
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link rel="stylesheet" href="css/camera.css" type="text/css" media="all" />
		<meta name="keywords" content="Healthy iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link rel="stylesheet" href="css/responsiveslides.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		  
	</head>
	<body>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.php"><img src="images/logo.png" title="logo" /></a>
				</div>

<!-- login -->
            <div>
				{if !$loggedIn}
				  {include 'login.tpl'}
				{else}
				  {include 'loggedIn.tpl'}
				{/if}

				
			</div>

				    
	            


				</div>
				<div class="clear"> </div>
				</div>
			</div>
				<!--<div class="clear"> </div>-->
				<div class="topnav">
				<ul id="topnav">


			        <li class="nav_top"><a href="index.php">Home</a></li>
				        <li class="nav_top">
				            <a href="index.php?controllerAction=About">About</a><!--
				            <span>
				                <a href="">The Company</a> |
				                <a href="">The Team</a> |
				                <a href="">Careers</a>
				            </span>-->
				        </li>
				        <li class="nav_top">
				            <a href="index.php?controllerAction=Services">Servizi</a><!--
				            <span>
				                <a href="">What We Do</a> |
				                <a href="">Our Process</a> |
				                <a href="">Testimonials</a>
				            </span>-->
				        </li>
				        <li class="nav_top">
				            <a href="index.php?controllerAction=Registration&action=loadForm">Registrazione</a><!--
				            <span>
				                <a href="">Web Design</a> |
				                <a href="">Development</a> |
				                <a href="">Identity</a> |
				                <a href="">SEO &amp; Internet Marketing</a> |
				                <a href="">Print Design</a>
				            </span>-->
				        </li>
				       
        		<li class="nav_top"><a href="index.php?controllerAction=Contacts">Contatti</a></li>
    		</ul>
    	</div>

    	<div>
    		<a href="index.php?controllerAction=manageDB">Archivio pazienti</a>
    	</div>

		
		<div class="clear"> </div>
			<!--start-image-slider-->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="images/1.jpg" alt=""></li>
					      <li><img src="images/2.jpg" alt=""></li>
					      <li><img src="images/1.jpg" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					</div>
					<!--End-image-slider-->
		    <div class="clear"> </div>
		    <div class="wrap">
		    	<div class="content">
							<div class="grids">
							<div class="grid box">
								<h4>EMERGENCY</h4>
								<a href="services.html"><img src="images/grid1.png" title="grid1" /></a>
							</div>
							<div class="grid box">
								<h4>NEW SERVICES</h4>
								<a href="services.html"><img src="images/grid2.png" title="grid2" /></a>
							</div>
							<div class="grid box">
								<h4>OUR ADVICE</h4>
								<a href="services.html"><img src="images/grid3.png" title="grid3" /></a>
							</div>
							<div class="grid box">
								<h4>ON-LINE HELP</h4>
								<a href="services.html"><img src="images/grid4.png" title="grid4" /></a>
							</div>
							<div class="clear"> </div>
						 </div>
						 <div class="clear"> </div>
  
		</div>
		<div class="clear"> </div>
		<div class="section group">
				<div class="col_1_of_3 span_1_of_3 frist">
					<h2>Categories</h2>
					<ul>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><img src="images/marker3.png" title="marker"><a href="#">Lorem ipsum dolor sit amet</a></li>
					</ul>
				</div>
				<div class="col_1_of_3 span_1_of_3 second">
					<h2>Understanding Calories</h2>
					<img src="images/box-image1.png" title="img1" />
					<h3>consectetur adipisicing elit, sed do eiusmod tempor </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="single.html">ReadMore</a>
				</div>
				<div class="col_1_of_3 span_1_of_3 second">
					<h2>Ten-Minute Workouts</h2>
					<img src="images/box-image3.png" title="img1" />
					<h3>consectetur adipisicing elit, sed do eiusmod tempor </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="single.html">ReadMore</a>
				</div>
			</div>
			<div class="clear"> </div>
			<div class="footer">
				<div class="left-content">
					<a href="index.php"><img src="images/logo1.png" title="logo" /></a>
				</div>
				<div class="right-content">
					<p>Healthy  &#169	 All Rights Reserved | Design By <a href="http://w3layouts.com/">W3Layouts</a></p>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</body>
</html>

